:root{
    --primary: #F9F5F6;
    --secundary:#F8E8EE;
    --info: #FDCEDF;
    --contrast: #F2BED1;
}


a{
    font-size: 80px;
    text-decoration: solid;
   
}

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--secundary);
}
